- load i18n

- if field.field.is_checkbox
  div.col-md-offset-3.col-md-9
    div.checkbox
      label {{field.label}}
        {{field }}
- else
  div.form-group(class="{% if field.errors %}has-error{% endif %}")
    .row
      .col-sm-8
        label(for="id_{{field.name}}")
          | {{field.label}}
          - if not field.field.required
            | ({% trans 'optional' %})
      .col-sm-4
        p.help-block(for="id_{{field.name}}")
          {% for error in field.errors %}
          | {{ error }}
          {% endfor %}
    {{ field }}
    p {{ field.help_text }}
