{% csrf_token %}
- for field in form.hidden_fields
  {{field}}

- for fieldset in form.fieldsets
  fieldset(class="{{ fieldset.classes }}", data-index="{{forloop.counter0}}")
    {% include "includes/fieldset.jade"%}
