<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Django app{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  <body>
    <div>
      <div class="navbar">
        {% if user.is_authenticated %}
        Logged in as {{user.email}}
        <a href="{% url 'users.views.password_change' %}">Change password</a>
        <a href="{% url 'users.views.logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'users.views.password_reset' %}">Recover password</a>
        <a href="{% url 'users.views.user_new' %}">Register</a>
        {% endif %}
      </div>
      <div class="container-fluid">
        <div class="row-fluid">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
        </div><!--/row-->
      </div>
      <div id="container">
        {% block content %}
        {% endblock %}
      </div>
      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      {% block javascripts %}
      {% endblock %}
    </div>
  </body>
</head>
