extends base
- load i18n static

block javascripts

block uncompressible_javascripts

block stylesheets

block content
  div.content.clear_down
    h1.page-header
        block form_title
    div
      {% if form.errors %}
      {% for error in form.non_field_errors %}
      div.alert.alert-error
        | {{ error }}
      {% endfor %}
      {% endif %}

    div
      form.model-form.form-horizontal(method="post", enctype="multipart/form-data", role="form")
        block form_top
        {% include "includes/form.jade"%}
        block form_bottom

        div.form-group
          div.col-md-offset-3.col-md-9
            block form_buttons
              a.btn.btn-danger(href="{{cancel_url}}") Cancelar
              button.btn.btn-primary.btn-submit(type="submit")
                | {% block submit_button_value%}Guardar{% endblock%}
    div
      block after_form
