{% extends "base.jade" %}

{% load i18n static %}

{% block javascripts %}
  <script src="{{STATIC_URL}}js/login.js"></script>
{% endblock %}

{% block content %}

<form class="form-signin form-horizontal" action="{% url 'users.views.login' %}" method="post">
{% csrf_token %}
  <div class="form-signin-inner">
  {% blocktrans %}<h2>Login</h2>{% endblocktrans %}
  {% if form.errors and not form.non_field_errors %}
    <div class="alert alert-error">
       {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </div>
  {% endif %}
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-error">
      {{ error }}
    </div>
    {% endfor %}
  {% endif %}

  <div class="control-group">
    <div class="control-label">
        <label for="id_email" class="required">{% trans 'E-mail:' %}</label> 
    </div>
    <div class="controls">
        {{ form.email }}
        <span class="help-inline">{{ form.email.errors|striptags }}</span>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">
        <label for="id_password" class="required">{% trans 'Password:' %}</label> 
    </div>
    <div class="controls">
        {{ form.password }}
        <span class="help-inline">{{ form.password.errors|striptags }}</span>
    </div>
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>

  {% if form.captcha %}
  <div class="control-group">
    <div class="control-label">
        {{ form.captcha.label_tag }}
    </div>
    <div class="controls">
        {{ form.captcha }}
        <span class="help-inline">{{ form.captcha.errors|striptags }}</span>
    </div>
  </div>
  {% endif %}


  <div class="control-group">
    <div class="controls">
        <a href="{% url 'users.views.password_reset' %}">{% trans 'Forgotten your password or email?' %}</a>
    </div>
  </div>
  </div>
  <div class="form-actions">
    <input type="submit" value="{% trans 'Log in' %}" class="btn btn-primary" />
  </div>
</form>
{% endblock %}
