{% extends "base.html" %}

{% load i18n static %}

{% block content %}

{% if form.errors %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-error">
      {{ error }}
    </div>
  {% endfor %}
{% endif %}



<form method="post" action="{% url base.views.login %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.email.label_tag }}</td>
    <td>{{ form.email }}</td>
    <td>
      {% for error in form.email.errors %}
        <div class="alert alert-error">
          {{ error }}
        </div>
      {% endfor %}
    </td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
    <td>
      {% for error in form.password.errors %}
        <div class="alert alert-error">
          {{ error }}
        </div>
      {% endfor %}
    </td>
</tr>
</table>

<input type="submit" value="{% trans 'Login' %}" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}

