{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-error">
      {{ error }}
    </div>
  {% endfor %}
{% endif %}
{% for field in form.visible_fields %}
  {% for error in field.errors %}
    <div class="alert alert-error">
      {{ error }}
    </div>
  {% endfor %}
{% endfor %}


<form method="post" action="{% url base.views.login %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.email.label_tag }}</td>
    <td>{{ form.email }}</td>
    <td>{{ form.email.errors }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
    <td>{{ form.password.errors }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}

